body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #e32929 !important;
}

.brand-name {
  font-weight: bold;
  font-size: xx-large;
}
.available {
  color: #fff !important;
}
input[type="text"] {
  background-color: #eee;
  border: none;
  width: 40vw;
  color: orange !important;
  border-radius: 4px;
  text-align: center;
  padding: 5px;
}
input[type="text"]:focus {
  outline: none;
}

.to-center {
  text-align: center;
}
.chart {
  cursor: pointer;
  position: relative;
  float: right;
  margin: 10px 0px;
  background-color: transparent;
}
.chart .cart-number {
  position: absolute;
  top: 10px;
  left: 18px;
}
.chart .cart-image {
  z-index: 2;
}

.img-container {
  height: 150px;
  width: 250px;
  background-color: #efefef;
  border-radius: 20px;
  position: relative;
}

.display-card {
  margin: 20px auto;
}
.display-card img {
  width: 200px;
  height: 150px;
  margin: 0 auto;
  border-radius: 10;
}
.display-card .display-body {
  background: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 16.3px 13.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 10px 8px rgba(0, 0, 0, 0.12);
  margin: 2vh 2vw;
  border-radius: 10px;
}
.separator {
  z-index: 1;
  height: 30vh;
}
.react-tabs__tab--selected {
  border: 4px solid orange !important;
  border-bottom: none !important;
}
.react-tabs__tab-list {
  border-bottom: none !important;
}
@media only screen and (max-width: 800px) {
  input[type="text"] {
    width: 75vw;
  }
  .haha {
    display: none;
  }
}
